.ques
{
  width: 400px;
  margin-top:50px;
  margin-left: auto;
  margin-right: 50px;
  font-family:cursive;
  font-weight: 300;
  font-size: large;
  margin-bottom: 70px;
  text-align: center;
}
.option
{
  font-family: cursive;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(2 ,2fr);
  grid-gap: 20px;
  margin-bottom: 70px;
  margin-right: 0px;
}
button
{
  color: aliceblue;
  width: 100px;
  padding-top: 6px;
  margin-right: 45px;
  padding-bottom: 7px;
  border-radius: 20px;
  font-size: larger;
  background-color: rgb(34, 32, 36);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
  height: 90px;
  padding: 35px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
}
.las
{
  border: 2px solid black ;
}
.feedb{
  color: aliceblue;
  width: 450px;
  margin-top: 50px;
  margin-left: 35.6%;
  padding-top: 6px;
  padding-bottom: 7px;
  border-radius: 20px;
  font-size: larger;
  background-color: rgb(34, 32, 36);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ofeed
{
    margin-top: 70px;
    margin-left: 45%;
}